@charset "utf-8";
/* css document */
body{
    background: #f6f5f5;
    margin: 0;
    padding: 0;
}   

section{
    width: 100%;
    height: 95vh;
    background: url(../assets/gb.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0 5%;
    z-index: 1;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li a{
    margin: 30px;
    font-family: myriad pro regular;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}
.logo{
    font-family: roadtest;
    color: #000000;
    font-size: 30px;
}
.active{
    font-weight: bold;
    color: #2d2a2a;
}
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 60px;
    color: #1a1a1a;
}
.text-container p:nth-child(3){
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}
.text-container p{
    line-height: 0;
    margin: 45px 0 25px;
}
.text-container{
    position: absolute;
    top: 42%;
    left: 13%;
    transform: translate(-42% -13%);
}
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calbri;
    font-size: 14px;
    outline: none;
    margin: 0 10px;
}
.hire-btn{
    border: 2px solid #373636;
    color: #373636;
}
.down-cv{
    background: #0b0b0b;
    border: none;
    color: #FFFFFF;
}
.button:active{
    transform: scale(1.1);
}
.model{
    height: 560px;
    position: absolute;
    bottom: 0px;
    left: 70%;
    transform: translate(-70%);
}
.about-container{
    width: 80%;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img{
    height: 250px;
}
.about-text{
    width: 550px;
}
.about-text p:nth-child(1){
    color: #403e3e;
    font-family: myriad pro;
    font-weight: bold;
    font-size: 22px;
    line-height: 0;
}
.about-text p:nth-child(2){
    color: #7e7d7d;
    font-size: 13px;
    font-family: myriad pro;
    font-weight: bold;
    line-height: 5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
    color: #3e3d3d;
    font-size: 16px;
    font-family: Calibri;
}
.about-text button{
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-family: calibri;
    background: #202525;
}
.services{
    height: 600px;
    background: #FFFFFF;
    padding: 2% 10% 0 10%;
}
.services-text p:nth-child(1){
    font-family: calibri;
    color: #3e3d3d;
    font-weight: bold;
    font-size: 30px;
    line-height: 0;
}
.services-text p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 15px;
    line-height: 5px;
}
.services-text p:nth-child(3){
    font-family: calibri;
    color: #3e3d3d;
}
.services-text{
    width: 500px;
    margin: 50px 0;
}
.box-1, .box-2, .box-3{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-container{
    display: flex;
    justify-content: space-between;
}
.box-1{
    background: url(../assets/service1.jpg);
}
.box-2{
    background: url(../assets/service2.jpg);
}
.box-3{
    background: url(../assets/service3.jpg);
}
.box-1 span,
.box-2 span,
.box-3 span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri;
    font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
     color: #FFFFFF;
     font-family: calibri;
     font-size: 23px;
     line-height: 0;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
    font-family: calibri;
     color: #8f8f8f;
     text-align: center;
     margin: 0 0 20px 0;
     width: 230px;
}
.box-1 button,
.box-2 button,
.box-3 button{
    width: 100px;
    height: 30px;
    background: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #1a1a1a;
}
.contact-me{
    width: 100%;
    height: 280px;
    background-image: url(../assets/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-me p{
    color: #FFFFFF;
    font-size: 30px;
    font-family: calibri;
    font-weight: bold;
    border-bottom: 2px solid #FFFFFF;
}
.contact-me button{
    width: 200px;
    height: 40px;
    background: #FFFFFF;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 14px;
}
footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
footer p{
    font-family: calibri;
}
footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    line-height: 10px;
    color: #191919;
}
footer p:nth-child(2){
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    background: #e6e3e3;
    border-radius: 50%;
}
.social-icons{
    display: flex;
}
.copyright{
    color: #565555;
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.social-icons i{
    color:  #565555;
}
.social-icons a:hover,
.a-social-b a:hover{
    background: #20639B;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all case 0.5s;
}
.social-icons a:hover i{
    color: #FFFFFF;
    transition: all case 0.5s;
}
.a-social-b{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.a-social-b a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    line-height: 0;
    background: #FFFFFF;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.a-social-b i{
    color: #2b2b2b;
    font-size: 20px;
}